.vkuiGroup > .vkuiGroup__separator--spacing {
  display: none;
}

.footer {
  padding-top: 50px;

  #footer-items {
    padding: 5px 0 5px 0;
  }
}

.add-friend__text * {
  color: #2688eb;
}

.education-icon {
  background-color: #2688eb;
}

.message-icon {
  background-color: #12cd80;
}

.messages-icon {
  background-color: #8873f1;
}
